<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>User Registration</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<header>
    <h1>Welcome to the GruppUppgiftSafety</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a> </li>
            <li><a href="/login">Login</a> </li>
            <li><a href="/register">Registration</a> </li>
            <li><a href="/manageuser">Manage users</a></li>
            <li><a href="/admin">Admin</a> </li>
        </ul>
    </nav>
</header>
<main>
    <p>This will be the MANAGE USER page.</p>
</main>
<footer>
    <p>&copy; This will be the footer</p>
</footer>
</body>
</html>