<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<header>
    <h1>Welcome to the GruppUppgiftSafety</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Registration</a></li>
            <li><a href="/manageuser">Manage users</a></li>
            <li><a href="/admin">Admin</a></li>
        </ul>
    </nav>
</header>
    <h2>Registered Users</h2>
<table>
    <thead>
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Roles</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.username}"></td>
        <td th:text="${userEmails[user.username]}"></td> <!-- Display email -->
        <td th:text="${user.authorities}"></td>
        <td>
            <form th:action="@{/manageuser/delete}" method="post">
                <input type="hidden" name="username" th:value="${user.username}" />
                <label for="emailInput">Enter Email:</label>
                <input type="email" id="emailInput" name="email" required />
                <div th:if="${error}" th:unless="${user.username} != ${errorUsername}">
                    <p th:text="${error}" style="color: red;"></p>
                </div>
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
